<div id="sidebar">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img src="/assets/media/images/profile_2.png" width="150">
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}


  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
